@{
    ViewData["Title"] = "Form";

    var drinks = (List<Drink>)ViewData["drinks"];
}

@model DrinksMachineModel;
@using Microsoft.AspNetCore.Http;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
@using DrinksMachine.Extensions;

<div  class="form-group column col-6 ">

    <div id="form-container"></div>

</div>
