<form id="formEl">

    <div>
        <div>Coins Information</div>
        <div>
            <div>
                <label class="form-label">Cents</label>
                <input class="form-input" type="text" id="centsInput" pattern="^[+-]?(\d*\.)?\d+$" />
            </div>

            <div>
                <label class="form-label">Pennies</label>
                <input class="form-input" type="text" id="penniesInput" pattern="^[+-]?(\d*\.)?\d+$" />
            </div>

            <div>
                <label class="form-label">Nickels</label>
                <input class="form-input" type="text" id="nickelsInput" pattern="^[+-]?(\d*\.)?\d+$" />
            </div>

            <div>
                <label class="form-label">Quarters</label>
                <input class="form-input" type="text" id="quartersInput" pattern="^[+-]?(\d*\.)?\d+$" />
            </div>

        </div>
    </div>

    <div>
        <div>Products Information</div>
        <div>
            <div>
                <label class="form-label" id="cokeLabel"></label>
                <h6> <span id="cokeQuantity"></span> drinks available; Cost = <span id="cokeCost"></span> </h6>
                <input class="form-input" id="cokeAmount" type="text" pattern="^[+-]?(\d*\.)?\d+$" />
            </div>

            <div>
                <label class="form-label" id="pepsiLabel"></label>
                <h6> <span id="pepsiQuantity"></span> drinks available; Cost = <span id="pepsiCost"></span> </h6>
                <input class="form-input" id="pepsiAmount" type="text" pattern="^[+-]?(\d*\.)?\d+$" />
            </div>

            <div>
                <h6 class="form-label">Order Total:</h6>
                <div id="orderTotalEl"># cents/ dollars</div>
            </div>
        </div>
    </div>

    <div>
        <button class="btn btn-primary" id="submitEl">Get Drinks</button>
    </div>

</form>