<form id="formEl">

    <div>
        <div>Coins Information</div>
        <div id="coinInputs">

        </div>
    </div>

    <div>
        <div>Products Information</div>
        <div id="drinkInputs">

        </div>
        <div>
            <h6 class="form-label">Order Total:</h6>
            <div id="orderTotalEl"># cents/ dollars</div>
        </div>
    </div>

    <div>
        <button class="btn btn-primary" id="submitEl">Get Drinks</button>
    </div>

</form>