<form id="formEl">
    <div class="card">
        <div class="card-body">
            <div>
                <div>Coins Information</div>
                <div id="coinInputs">

                </div>
            </div>
            <div class="divider"></div>
            <div>
                <div>Products Information</div>
                <div id="drinkInputs">

                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h6 class="form-label">Order Total:</h6>
            <div id="orderTotalEl"># cents/ dollars</div>
            <h6 class="form-label">Payment Total:</h6>
            <div id="paymentTotalEl"># cents/ dollars</div>
        </div>
    </div>

    <div>
        <button class="btn btn-primary" id="submitEl">Get Drinks</button>
    </div>
    <div id="dialogEl"></div>
</form>
